---
import Layout from "./Layout.astro";
import BlogSidebar from "../components/BlogSidebar.astro";
import MenuButton from "../components/MenuButton.astro";
import { icon } from "@fortawesome/fontawesome-svg-core";
import { faXTwitter, faBluesky } from "@fortawesome/free-brands-svg-icons";

const { frontmatter } = Astro.props;

const icons = {
  xTwitter: icon(faXTwitter).html[0],
  bluesky: icon(faBluesky).html[0],
};

const formatDate = (timestamp) => {
  const date = new Date(timestamp);
  return date
    .toLocaleDateString("en-US", {
      month: "short",
      day: "numeric",
      hour: "numeric",
      minute: "2-digit",
    })
    .toLowerCase();
};

const getISODate = (timestamp) => {
  const date = new Date(timestamp);
  return date.toISOString();
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  canonicalURL={canonicalURL}
  ogType="article"
>
  <div class="flex dark:bg-dark-base min-h-screen">
    <MenuButton />
    <BlogSidebar />

    <!-- Main content -->
    <main
      class="w-full px-8 pt-24 pb-16 lg:py-24 lg:pl-48 lg:pr-8 max-w-[680px] lg:ml-48"
    >
      <article class="space-y-4">
        {
          frontmatter.type === "photo" && frontmatter.image && (
            <img src={frontmatter.image} alt="Post image" class="w-full" />
          )
        }

        {
          frontmatter.type !== "photo" && (
            <h1 class="text-xl dark:text-white mb-8">
              {frontmatter.type === "link" ? (
                <div class="flex items-center gap-2">
                  <a
                    href={frontmatter.url}
                    class="hover:text-gray-600 dark:hover:text-gray-300 flex items-center gap-2"
                  >
                    {frontmatter.title}
                    <span>→</span>
                  </a>
                </div>
              ) : (
                frontmatter.title
              )}
            </h1>
          )
        }

        <div
          class="prose prose-gray prose-quoteless dark:prose-invert marker:text-gray-400 dark:marker:text-gray-500 prose-li:marker:text-gray-400 dark:prose-li:marker:text-gray-500 prose-blockquote:border-gray-400 dark:prose-blockquote:border-gray-500"
        >
          <slot />
        </div>

        <div class="flex items-center justify-between text-xs text-gray-500 dark:text-gray-400 font-sans">
          <time datetime={getISODate(frontmatter.pubDate)}>
            {formatDate(frontmatter.pubDate)}
          </time>
          <div class="flex items-center gap-3">
            {(frontmatter.xPostId || frontmatter.blueskyPostId) && (
              <span>comment on</span>
            )}
            {frontmatter.xPostId && (
              <a
                href={`https://x.com/markoa/status/${frontmatter.xPostId}`}
                class="hover:text-gray-900 dark:hover:text-gray-300"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="w-3 h-3">
                  <span class="[&>svg]:w-3 [&>svg]:h-3">
                    <Fragment set:html={icons.xTwitter} />
                  </span>
                </span>
              </a>
            )}
            {frontmatter.blueskyPostId && (
              <a
                href={`https://bsky.app/profile/markoanastasov.bsky.social/post/${frontmatter.blueskyPostId}`}
                class="hover:text-gray-900 dark:hover:text-gray-300"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="w-3 h-3">
                  <span class="[&>svg]:w-3 [&>svg]:h-3">
                    <Fragment set:html={icons.bluesky} />
                  </span>
                </span>
              </a>
            )}
          </div>
        </div>
      </article>
    </main>
  </div>
</Layout>
