---
import Layout from "./Layout.astro";
import BlogSidebar from "../components/BlogSidebar.astro";

const { frontmatter } = Astro.props;

const formatDate = (timestamp) => {
  const date = new Date(timestamp);
  return date
    .toLocaleDateString("en-US", {
      month: "short",
      day: "numeric",
      hour: "numeric",
      minute: "2-digit",
    })
    .toLowerCase();
};
---

<Layout title={frontmatter.title}>
  <div class="flex dark:bg-dark-base min-h-screen">
    <BlogSidebar />

    <!-- Main content -->
    <main class="ml-48 max-w-[680px] p-8">
      <article class="space-y-4">
        {
          frontmatter.type === "photo" && frontmatter.image && (
            <img src={frontmatter.image} alt="Post image" class="w-full" />
          )
        }

        {
          frontmatter.type !== "photo" && (
            <h1 class="font-sans text-xl dark:text-white">
              {frontmatter.type === "link" ? (
                <div class="flex items-center gap-2">
                  <a
                    href={frontmatter.url}
                    class="hover:text-gray-600 dark:hover:text-gray-300"
                  >
                    {frontmatter.title}
                  </a>
                  <span class="text-gray-400 dark:text-gray-500 font-normal text-sm">
                    →
                  </span>
                </div>
              ) : (
                frontmatter.title
              )}
            </h1>
          )
        }

        <div
          class="prose prose-gray prose-quoteless font-serif dark:prose-invert"
        >
          <slot />
        </div>

        <a
          href={`/blog/${frontmatter.slug}`}
          class="block text-[10px] text-gray-400 dark:text-gray-500 hover:text-gray-600 dark:hover:text-gray-300 font-sans"
        >
          {formatDate(frontmatter.pubDate)}
        </a>
      </article>
    </main>
  </div>
</Layout>
